*  {
    margin: 0;
    padding: 0;
}

/* .navtomy{
    display: flex;
    position: fixed;
}  */

 
.icon {
    left: 10px;
    top: 10px;
    position: relative;
    vertical-align: middle;
}
 
.signup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
     /* overflow: auto; no se xq pero con esta cosa puesta el foter queda mal, no entiendo q hace */
} 

.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin: 0 25%;
    justify-content: center;
}

.form-fields{
    max-height: 80%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.form-fields::-webkit-scrollbar {
    display: none;
  }

.form-footer {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}

.form-vaccination{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-doses{
    position: relative;
}

.doses-child{
    display: flex;
    align-items: center;
}

#combo-box-demo{
    margin-right: 80%;
}

.footer {
    height:30px;
    background-color: #2C7B42;
    padding: 0 10px;
    display: flex;
    justify-content: flex-end;
    vertical-align: middle;
}

.signup-input {
    margin: 10px 5px !important;
    padding: 5px 10px;
}


.footer span {
    margin: auto 0;
    color: white;
}

.forgot-pass {
    text-decoration: none“ø;
}
/*  */