* {
    margin: 0;
    padding: 0;
}

/* icon sería el logo, todo lo q tenga la clase icon va a estar en este lugar y va a tener estas caract. */
.icon {
    left: 10px;
    top: 10px;
    position: absolute;
    vertical-align: middle;
}

.singup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0 25%;
}

.form-footer {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}

.footer {
    height:30px;
    background-color: #2C7B42;
    padding: 0 10px;
    display: flex;
    justify-content: flex-end;
    vertical-align: middle;
}

.login-input {
    margin: 10px 0 !important;
    padding: 5px 10px;
}

/* esto sería el logo de abajo q tiene un css distinto porque es la misma imagen pero esta en otro lugar. */
.footer span {
    margin: auto 0;
    color: white;
}

.forgot-pass {
    text-decoration: none“ø;
}