*  {
    margin: 0;
    padding: 0;
}

/* .navtomy{
    display: flex;
    position: fixed;
}  */

 
.icon {
    left: 10px;
    top: 10px;
    position: relative;
    vertical-align: middle;
}
 
.signup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   /* height: 100vh;
    overflow: auto; no se xq pero con esta cosa puesta el foter queda mal, no entiendo q hace */
} 

.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin: 10px 50px;
}

.form-footer {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;

}

.footer {
    height:30px;
    background-color: #2C7B42;
    padding: 0 10px;
    display: flex;
    justify-content: flex-end;
    vertical-align: middle;
}

.login-input {
    margin: 10px 5px !important;
    padding: 5px 10px;
}


.footer span {
    margin: auto 0;
    color: white;
}

.forgot-pass {
    text-decoration: none“ø;
}
/*  */